@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 95%;
  }

  body {
    @apply bg-white antialiased;
    color: rgb(13, 13, 13);
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html.dark body {
    @apply bg-slate-900;
    color: rgb(245, 245, 245);
  }

  /* Custom selection */
  ::selection {
    @apply bg-black dark:bg-white text-white dark:text-black;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .text-pretty {
    text-wrap: pretty;
  }
}
